# Ignore virtual environment
venv/

# Ignore ML experiment logs
mlruns/

# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore large and model files
*.pkl
*.log
*.dll
*.pyd
*.h5
*.zip
*.tar
*.csv
*.npy

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
mlruns/
